.markdown {
  font-size: 12px;
}

@media (min-width: 1024px) {
  .markdown {
    font-size: 14px;
  }
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  margin-top: 20px;
  margin-bottom: 20px;
  /*@apply my-6;*/
}

.markdown h2 {
  margin-top: 20px;
  margin-bottom: 12px;
  font-size: 26px;
}

.markdown h3 {
  margin-top: 12px;
  margin-bottom: 8px;
  font-size: 18px;
}
